<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Mi ThreeJS - IG-EII-ULPGC</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>

	<!--Carga de módulos, indicando release de threejs-->
	<script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.152.1/build/three.module.js",  
          "three/": "https://cdn.skypack.dev/three@0.152.1/"
        }
      }
    </script>

	<!-- S6 -->
	<!-- Descomentar cada ejemplo concreto para ejecutarlo-->
	<!--script src="/script_01_cubomin.js" type="module" ></script-->
	<!--script src="/script_02_esfera_minimo.js" type="module" ></script-->
	<!--script src="/script_03_esfera_modular.js" type="module" ></script-->
	<!--Botón para interacción ejemplo 04-->
	<button type="button" style="z-index: 12345;position: absolute;margin-left: 0%;" id="onoff">Rejilla on/off</button>
  <!--script src="/script_04_esfera_boton_rejilla.js" type="module" ></script-->
	<!--script src="/script_05_estrellayplanetas.js" type="module"></script-->
	<!--script src="/script_06_estrellayplanetas.js" type="module"></script-->
	<!-- <script src="/script_07_estrellayplanetasylunas.js" type="module"></script> -->
	<!--script src="/script_08_polilinea.js" type="module" ></script-->
	<script src="/solar_system_1.js" type="module" ></script>

</body>

</html>